<h3>{{t 'line.one'}}</h3>
<div class="box box-with-radius">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{t "line.key_and_name"}}</th>
        <th>{{t "project.agreement_and_name"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{key_and_name}}</td>
        <td>{{project.agreement_and_name}}</td>
      </tr>
    </tbody>
  </table>
</div>

{{outlet}}

{{#link-to 'lines' model.project class='btn btn-primary'}} {{t 'line.others'}} {{/link-to}}
