<div class="navbar navbar-inverse navbar-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Instituto de F&iacute;sica</a>
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
        <li>{{link-to 'Proyectos y gastos' 'projects'}}</li>
      {{/if}}
    </ul>
  </div>
</div>

{{#if session.isAuthenticated}}
<div class="row right">
    <div class="col-md-10 text-right"> 
      {{ current-date }}
    </div>
    <div class="col-md-1 text-right">
      <b class="text-success">{{session.login}}</b>
    </div>
    <div class="col-md-1">
      <a {{ action 'invalidateSession' }}>{{t 'user.actions.logout'}}</a>
    </div>
  </div>
{{/if}}

<div class="container">
  {{outlet}}
</div>
