<h3>{{t 'line.others'}} </h3>
<div class="box box-with-radius">
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>{{t 'line.key' }}</th>
        <th>{{t 'line.name' }}</th>
        <th>{{t 'line.deposited_budget' }}</th>
        <th>{{t 'line.committed_budget' }}</th>
        <th>{{t 'line.spent_budget' }}</th>
        <th>{{t 'line.balance' }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each line in lines}}
      <tr>
        {{#if line.has_expenditures}}
        <td>{{link-to line.key 'lines.show' line}}</td>
        {{else}}
        <td>{{line.key}}</td>
        {{/if}}
        <td>{{line.name}}</td>
        <td>{{line.deposited_budget}}</td>
        <td>{{line.committed_budget}}</td>
        <td>{{line.spent_budget}}</td>
        <td>{{line.balance}}</td>
      </tr>
      {{/each}}
    </tbody>
    {{#if meta}}
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td>{{meta.total.deposited_budget}}</td>
        <td>{{meta.total.committed_budget}}</td>
        <td>{{meta.total.spent_budget}}</td>
        <td>{{meta.total.balance}}</td>
      </tr>
    </tfoot>
    {{/if}}
  </table>
</div>
